$bord: 1px solid #000000
=flex
  width: 100%
  margin: 0px


=marge15
  margin:
    left: 15px
    right: 15px

html,
body
  border: $bord
  +flex

.container
  +flex
  margin:
    left: 15px
    right: 15px