$bord: 1px solid #000000;
@mixin flex {
  width: 100%;
  margin: 0px;
}

@mixin marge15 {
  margin-left: 15px;
  margin-right: 15px;
}

html,body{
  border: $bord;
  @include flex;
}

.container{
  @include  flex;
  @include marge15;
  .otherclass{
    border: 2px;
    .thirdclass{
      background-color:#0D47A1 ;
    }
  }
}
