
/*tous les elements*/
*{
    font-size: 50px;

}

/*Par le tag  name*/
 body {
     width: 100%;

 }

 div {
     font-family: Arial;
 }

 /*id*/
#idelement{
    font-family: "Times New Roman";
    font-size: 30px;
}

/*className*/
.classname{
    font-family: Harrington;
    font-size: 20px;
    background-color: darkred;

}




#div1 > p {
    background: cornflowerblue;
}

#div2 > p{
    background: #ddc491;
}



#toto .titi p.parti{
    background: #fac1ff;

 }

p:nth-child(2n+1){
    border: 1px solid;
}
p:nth-child(3) p:first-letter {
    color: blue;
}