body {
  background-color: #d6d6d6; }

.container {
  width: 90%;
  margin: auto; }

header {
  width: 100%;
  background-color: #505050;
  color: #d6d6d6;
  height: 45px;
  margin: 0; }

/*# sourceMappingURL=style.css.map */
.info {
  margin-left: 40px; }

.img-thumbnail {
  margin: auto; }

.read {
  color: orangered; }

.welcome {
  background-color: white;
  padding-bottom: 20px;
  padding-top: 20px;
  border-left: 5px solid orangered; }
  .welcome h6 {
    color: orangered; }
    .welcome h6:before {
      content: url("img/puce_orange.png");
      margin-right: 15px; }
  .welcome p {
    margin-left: 20px; }
  .welcome a {
    background-color: orangered;
    border: none;
    float: right;
    margin-right: 20px;
    margin-top: -20px; }

.latest {
  background-color: white; }
  .latest p {
    margin-left: 20px;
    color: #595959;
    font-size: 20px;
    font-weight: bold;
    padding: 10px; }

.photo {
  width: 100%; }

.photo > ul > li {
  display: inline-block; }
  .photo > ul > li img {
    width: 300px;
    height: 200px; }

.effect {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  float: left;
  margin-right: 20px;
  background-color: whitesmoke; }

.effect h2 {
  padding: 10px;
  margin-top: 15px;
  position: relative;
  font-size: 20px;
  color: orangered;
  font-weight: bold; }

.effect img {
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: pointer;
  margin: -12px 0;
  -webkit-transition: bottom .3s ease-in-out;
  -moz-transition: bottom .3s ease-in-out;
  -o-transition: bottom .3s ease-in-out;
  transition: bottom 0.3s ease-in-out; }

.effect img.top:hover {
  bottom: -30px;
  padding-top: 30px; }

#contact {
  background-color: grey; }

/*# sourceMappingURL=style.css.map */
