@font-face {
    font-family: 'regular';
    src: url('../fonts/glyphicons-halflings-regular.svg');
}

body{
    width: 100%;
}



#bg-green{
    background-color: #1aa2ab;
    width: 100%;

}

#navbarNavDropdown a{
    color: white;
    text-transform: uppercase;
    font-family: 'eot';
    font-weight: bold;


}

.logo{
    width: 360px;
    height: 70px;


}

#idNavbar{
    margin-top: 30px;

}

.slider{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid darkgrey;


}

.slider img {
    width: 100%;
}

.divider{
    border-top: 1px dotted #1aa2ab;
    margin-top: 15px;
}

.rowimage img{
    border: 1px solid darkgrey;
    padding: 5px;

}

.card-img-top{
    width:32px ;
    height: 32px;
}

.card{
    background-color: #dbdbdb;
    border: none;
    float: left;
    border-radius: 0;
    margin: 10px;
    padding: 10px;

}

.col-4 h2{
    background-color: #1aa2ab;
    font-size: 25px;
    padding: 10px;
    color: white;
    margin-top: 10px;
}

.col-4 img{
    border: 1px solid darkgrey;
    padding: 5px;
    width: 100%;
}
.card-block-right img{
    width:60px ;
    height: 50px;
    border: transparent;
    float: left;


}

.card-block-right p{
    color: grey;
    font-size: 16px;
    padding: 15px;
    text-align: right;

}
.card-block-right{
    background-color: #dbdbdb;
    padding: 20px;
}

.card-block-right span{
    text-align: right;

}

.col-6{
    width: 50%;
}

.card-block h4{
    color: #1aa2ab;
}

.btn {
    background: none;
    border: none;
    color: #1aa2ab ;
}










