
caption{
    text-align: left;
    margin-bottom: 30px;
    background-color: #F0F0F0 ;
    color: #AAAAAA;
    height: 30px;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: bold;

}
.table1{
    width: 43%;
    margin: 0 auto;
    border:1px solid white ;

}

.table1 tr {
    text-align: center;
    width: 100px;

}

.table1 thead th{
    background-color: #8ECE36;
    color: white;
    text-transform: capitalize;
    text-align: center;
    border-radius: 5px 5px 0px 0px ;
    padding: 15px;

}
.table1 thead th:first-child{
    border: none;
    background: transparent
}


.table1 tbody tr td:first-child {
    background-color: #8ECE36;
    color: white;
    border-radius: 5px 0px 0px 5px;
}


.table1 td{
    background-color: #DEF3CA;
    height: 40px;
    color: #666666;
    font-weight: bold;

}

.table1 tfoot td,th {
    background: transparent;
    border: none;
}

.table1 tfoot th {
    color: #666666;
    font-size: 20px;
}


.table1 tfoot td{

    color: #8ECE36;
    text-shadow:  1px 1px #8ECE36;
    font-size: 30px;

}

.table1 tfoot th:first-child{
    text-shadow: none;
}

.table1 tr,td,th{
    padding: 0;
}



.table2{
    padding-top: 30px;
    width: 43%;
    margin: 0 auto;
    border: none;
    border-collapse: collapse;


}

.table2  th,td {
    border-collapse: collapse;
}



.table2 thead th{
    text-align: center;
    background-color: black;
    color: white;
    height: 100px;
    vertical-align: middle;


}

.table2 thead th:first-child{
    border: none;
    background: transparent
}
.table2 tbody td {
    border-left: 1px dotted black;
}

.table2 tbody tr td:first-child {
    background-color: #F9F9F9;
    color: #333333;
    text-align: right;
    border-collapse: inherit;
    height: 60px;
    font-weight: bold;
    padding-right: 5px;
    border: none;
}

.table2 tbody tr td:nth-child(2){
    border: none;
}



.table2 tbody tr td{
    text-align: center;
    background-color: #F0F0F0 ;
    color: #333333;
}



.table2 tfoot td{
    background-color: #333333;
    color: #EF870E;
    border-bottom: #EF870E;
    height: 70px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    border-bottom: 3px solid #888896;
}

.table2 tfoot td:first-child{
    background: transparent;
    color:#888896;
    text-transform: uppercase;
    font-size: 16px;
    border: none;

}