//
//.wid50{
//  width: 50%;
//  display: inline;
//  background-color: #0f9d58;
//}
//.wid100{
//  width: 100%;
//  background-color: #3f51b5;
//}
.row {
  width: 100%;
  display: flex;
  flex-wrap:wrap ;
}
div{
  border: 1px solid black;
  box-sizing: border-box;
}



@media all  and (min-width: 1000px){
  .col-lg-6{
    width: 50%;
    display: inline;
    background-color: #0f9d58;
  }
  .col-lg-12{
    width: 100%;
    background-color: #3f51b5;
   }
  .div1 {
    background-color: cadetblue;
  }

}

@media all and (min-width: 600px) and (max-width: 1000px){
  .col-md-6{
  width: 50%;
  display: inline;
  background-color: #0f9d58;
}
  .col-md-12{
  width: 100%;
  background-color: #3f51b5;
}

  .div1 {
    background-color: indianred;
  }

}


@media all and (max-width: 600px) {
  .col-sm-6{
    width: 50%;
    display: inline;
    background-color: hotpink;
  }
  .col-sm-12{
    width: 100%;
    background-color: #3f51b5;
  }

  .div1 {
    background-color: hotpink;
  }
}

//@media all  and (max-width: 600px) {
//  .widLG50{
//    width: 50%;
//    display: inline;
//    background-color: #0f9d58;
//  }
//  .widLG100{
//    width: 100%;
//    background-color: #3f51b5;
//  }
//
//  .div1 {
//    background-color: darkseagreen;
//  }
//}