#wrapper{
    width: 40%;
    background-color: white;
    margin: 0 auto;
}

.form{
    background-color: #9CBB30;
    border-radius: 5px;
    height: 1000px;
}

.form h2{
    color: #243A00;
    font-size: 20px;
    padding: 20px;
    margin-left: 10px;
}

.form h3{
    color: #243A00;
    font-size: 16px;
    padding: 20px;
    margin-left: 10px;
}

label{
    color: #243A00;
    width: 40%;
    font-size: 16px;
    float: left;
}


input{
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid #EBEBEB;

}

.form div{
    border: 2px solid #EBEBEB;
    border-radius: 5px 5px 5px 5px;
    width: 90%;
    background-color: #B9CF6A;
    margin: 5px auto;
    padding: 5px;
}

textarea{
    border: 2px solid #EBEBEB;
    border-radius: 5px 5px 5px 5px;
}

#button{
    background-color: #243A00;
    text-align: center;
    color: #EBEBEB;
    text-transform: uppercase;
    width: 100px;
    height: 25px;
    padding: 5px;
    border-radius: 10px;

    border: none;
    margin-top: 20px;
}

.form h4{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 1em;

}


fieldset{
    border: none;
}

.buttons{

    display: flex;
    align-items: center;
    border: none!important;
    vertical-align:middle ;


}


