.form {
  border-radius: 5px;
  height: 500px; }

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  .row fieldset div {
    border: 2px solid #c47e80;
    padding: 20px;
    margin: 10px;
    border-radius: 5px 5px 5px 5px;
    display: flex; }

div {
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
  background-color: #d6d6d6; }

@media all and (min-width: 900px) {
  .col-lg-6 {
    width: 50%;
    display: inline; }

  .col-lg-12 {
    width: 100%; } }
@media all and (min-width: 500px) and (max-width: 900px) {
  .col-md-6 {
    width: 100%;
    display: inline; }

  .col-md-12 {
    width: 100%; }

  div {
    background-color: #33c4ae; } }
@media all and (max-width: 500px) {
  .col-sm-6 {
    width: 100%;
    display: inline; }

  .col-sm-12 {
    width: 100%; }

  div {
    background-color: #00bcd4; } }
label {
  width: 40%;
  float: left; }

input {
  width: 50%;
  float: right; }

/*# sourceMappingURL=style.css.map */
