@font-face {
    font-family: 'bold';
    src: url('../font/Nunito-bold.ttf');
}

@font-face {
    font-family: 'ninito-semibold';
    src: url('../font/Nunito-SemiBold.ttf');
}



body{
    background-image: url("../img/main_bg.gif");
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

#topHeader{
    background-color: black;
    height: 70px;
    border: #393939 2px solid;
    font-family: 'bold';
}
#downHeader{
    width: 70%;
    color: white;
    display: flex;
    margin: auto;
    margin-top: 30px;
}

#subscribe{
    margin-left: 550px;
    margin-top: 15px;
}

#top{
    width: 60%;
    margin: auto;
    background-color: white;
    height: 500px;
    /*margin-top: 20px;*/
    border-radius: 1%;

}

#name{

    margin-left:85px ;
}

#top >nav{
    margin-left: 35px;
    background-color: #ED2B50;
    height: 60px;
    width: 936px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;




}
#topImage > img{
    margin-left: 35px;
    height: 80%;
    margin-top: 30px;

}

#topHeader >ul >li{
    color: #7E7E7E;
    display: inline-block;
    padding: 5px 20px 2px 15px;
    /*margin-left: 50px;*/
    vertical-align: middle;
}

#topHeader >ul{
}

#topHeader >ul>li:first-child{
    background-color:#E4294D ;
    color: white;
    border-radius: 7%;
    height: 30px;
    vertical-align: middle;
    width: 60px;
    margin-top: 8px;
}
#pink{
    color: #E4294D;
    font-family: 'ninito-semibold';
    letter-spacing: 4px;
    font-size: 50px;
}

#name >h2{
    font-size: 35px;
    font-family: 'ninito-semibold';
    letter-spacing: 4px;
}
#name >p{
    color: #7E7E7E;
    margin-left: 93px;
    font-size: 13px;
    margin-bottom: -60px;
}
#firstrow{
    color: #C7C7C7;
    font-size: 15px;
    font-family: 'ninito-semibold';


}
#firstrow>span{
    color: #E4294D;
    font-size: 14px;
}

#firstrow > p {
    color: #C7C7C7;
    font-size: 12.5px;
    font-family: 'ninito-semibold';
    margin-top:0;
}

#buttons > ul> li {
    display: inline-block;
    color: white;
    padding: 5px 30px 2px 25px;
    margin-left: -20px;
    /*margin-top: 20px;*/
    font-family: 'ninito-semibold';
    vertical-align: middle;


}

#buttons >ul >li:first-child {
    background-color: #393939;
    border-radius: 7%;
    height: 30px;
    width: 100px;
    margin-top: 8px;
    margin-left: -35px;
    padding: 5px 0px 5px 10px;
    margin-right: 15px;
    vertical-align: middle;

}
#buttons >ul >input{
    margin-left: 250px;
    padding: 5px;
    height: 18px;
    background-image: url("../img/search2.png");
    background-repeat: no-repeat;
    background-position: right;
    vertical-align: middle;
    color:#7E7E7E ;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    width: 200px;

}


#container{
    width: 60%;
    margin: auto;
    /*background-color: white;*/
    height: 500px;
    /*margin-top: 20px;*/
    border-radius: 2%;

}
#col1{
    width: 31%;
    /*background-color: white;*/
    height: 100%;
    border-radius: 2%;
    float: left;
    margin-right: 23px;
}

#col2first{
    width: 32%;
    background-color: white;
    float: left;
    height: 520px;
    margin-right: 23px;
    border-radius: 2%;
}


#col2second{
    width: 32%;
    background-color: white;
    height: 520px;
    float: left;
    border-radius: 2%;
}
.row{
    width: 653px;
    background-color: white;
    float: left;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;

    margin-top: 10px;
    height: 50px;

}
#container{
    padding-top: 35px;
    height: 1000px;

}

#col1first{
    background-color: white;
    height: 37%;
    border-radius: 2%;
    margin-bottom: 10px;
    display: flex;
}
#col1second{
    background-color: white;
    height: 37%;
    border-radius: 2%;
    margin-bottom: 10px;
}
#col1third{
    background-color: white;
    height: 37%;
    border-radius: 2%;

}
#col1forth{
    background-color: white;
    height: 26%;
    border-radius: 2%;
    margin-top: 10px;

}

footer{
    background-color: black;
    height: 80px;
    font-family: 'bold';
    margin-top: 40px;
}

#col2first > h1{
    font-family: 'ninito-semibold';
    font-size: 22px;
    padding: 7px;
    margin-left: 4px;
    margin-right: 4px;
    color: #393939;
}

#col2second > h1{
    font-family: 'ninito-semibold';
    font-size: 22px;
    padding: 7px;
    margin-left: 4px;
    margin-right: 4px;
    color: #393939;
}

#col2first  >img{
    margin-left: 9px;
    margin-top: -20px;
    width: 93%;

}
#col2second >img{
    margin-left: 9px;
    margin-top: -20px;
    width: 93%;

}

#col2first > h3 {
    color: white;
    background-color: #393939;
    font-size: 14px;
    width: 91%;
    margin-left: 7px;
    padding-left: 10px;
    height: 25px;
    vertical-align: middle;
    padding-top: 7px;

}

#col2second > h3 {
    color: white;
    background-color: #393939;
    font-size: 14px;
    width: 91%;
    margin-left: 7px;
    padding-left: 10px;
    height: 25px;
    vertical-align: middle;
    padding-top: 7px;

}

#col2first > h3> span{
    color: #E4294D;
}
#col2second > h3> span{
    color: #E4294D;
}
#col2first > p{
    color: #393939;
    font-family: 'ninito-semibold';
    font-size: 13px;
    width: 92%;
    margin-left:9px;
    margin-top: -10px;
}
#col2second > p{
    color: #393939;
    font-family: 'ninito-semibold';
    font-size: 13px;
    width: 92%;
    margin-left:9px;
    margin-top: -10px;
}
.comment {
    background-color:#E4294D ;
    color: white;
    width: 91%;
    height: 25px;
    margin-left: 9px;
    font-family:'ninito-semibold' ;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    padding: 7px 3px 7px 3px;
}
#col1first> h1{
    font-size: 25px;
    font-family: 'ninito-semibold';
    color: #393939;
    margin-left: 20px;
    margin-top: 20px;
    height: 30px;

}
.photos{
     float: left;
    margin-left: 30px;
}
.photos > p{
    color: #7E7E7E;
    font-size: 11px;
    font-family: 'ninito-semibold';
    margin-left: 20px;
}

.flick> h1{
   margin-left:20px ;
    margin-top: 10px;
    font-family: 'ninito-semibold';
    font-size: 25px;
    color: #393939;
    height: 30px;
    padding-top: 20px;
}

.flick>img{
    margin-left: 20px;

    padding-bottom: 10px;


}
.flick > p {
    color: #7E7E7E;
    font-size: 11px;
    font-family: 'ninito-semibold';
    margin-left: 50px;
}

#footer >h2{
    font-size: 35px;
    font-family: 'ninito-semibold';
    letter-spacing: 4px;
    color: white;
}
#footer >p{
    color: #7E7E7E;
    margin-left: 93px;
    font-size: 11px;
    margin-bottom: -60px;
}
#fpink{
    color: #E4294D;
    font-family: 'ninito-semibold';
    letter-spacing: 4px;
    font-size: 50px;
}
#footer{
    /*margin-top: 20px;*/
    margin-left: 20px;
   width: 100%;
   padding-top: 10px;


}

#footer > h6{
    color: white;
    position: relative;
    font-size: 11px;
    margin-left: 1250px;
    margin-top: -80px;
    font-family: 'ninito-semibold';
}
.row>ul>li{
    color: #E4294D;
    display: inline-block;
    background: #393939;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    border-radius: 3px;
    font-family: 'ninito-semibold';
    margin-top:  -5px;
    padding: 0px 0px 0px 0px;

}
.row>ul>li:first-child{
    color: white;
    background:#E4294D ;

}
.row >ul> p{
    margin-left: 510px;
    margin-top: -30px;
    color: #7E7E7E;
    font-family: 'ninito-semibold';
}

.blue{
    color: #4fb8ff;
    font-size: 20px;
    font-weight: bold;

}

#col1forth{
    padding-left: 30px;
    padding-top: 15px;
    font-size: 20px;
}

.upper{
    font-size: 8px;
    color: #7E7E7E;
    font-family: 'ninito-semibold';
    font-weight: bold;

}

.bold{
    font-size: 14px;
}

.add {

    font-family: 'ninito-semibold';

}
